@font-face {
    font-family: 'Futura Medium';
    src: url('ufonts.com_futura-condensed-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('AvenirNextCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next Demibold';
    src: url('AvenirNextCondensed-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next Medium';
    src: url('AvenirNextCondensed-Medium.ttf') format('truetype');
}

html, body { height: 100%; }
#wrapper { min-height: 100%; height: auto; margin:0 auto; padding: 47px 0 40px; }
.hightlight-body { overflow: hidden; }
.hightlight-body #wrapper:after { content:''; position:fixed; top:0; bottom:0; left:0; right:0; width:100%; height:100%; background: rgba(0, 0, 0,0.8) url(../img/icons/close.png) no-repeat calc(100% - 30px) 80px; cursor: pointer; }

#pageheader { background:#000; height:auto; text-align:center; padding:10px 0; position: fixed; top: 0; left: 0; width: 100%; z-index: 999; }

#pagecontent .product-list { margin-bottom:20px; }
#pagecontent .product-list .product-title { position:relative; padding:13px 10px 13px 30px; border:2px solid #ccc;}
#pagecontent .product-list .product-title .favorite { position:absolute; left:10px; top:10px; }
#pagecontent .product-list .product-title h5 { text-align:right; margin:0; color:#656565; font-size:19px; font-family: 'Futura Medium';}

#pagefooter { height: 40px; background-color: #ffff; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999; }
#pagefooter .caret-up { -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg);    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6); }
#pagefooter .drop-up { top: auto; right:0; bottom: 100% !important; text-align:center; border:2px solid #000 }
#pagefooter .drop-up.product-filter { width: 100px; margin: 0 auto; padding:20px; height: auto; max-height:330px; overflow-x: hidden;}
#pagefooter .drop-up.color-filter { width: 55px; margin: 0 auto; padding:8px; height: 370px;}
#pagefooter .drop-up.favorite-filter { height: 360px; overflow-y:scroll; }
#pagefooter .drop-up.favorite-filter img { width:100%; }

#pagefooter .drop-up li { margin-bottom:20px; padding-bottom:20px}
#pagefooter .drop-up li:last-child { margin-bottom:0; }
#pagefooter .drop-up.favorite-filter li { border-bottom:0; margin:0; padding:5px 10px !important }
#pagefooter .dropdown-menu { min-width: inherit; }
#pagefooter .dropdown-menu>li>a { padding:0; margin:0; }
#pagefooter .btn-group { width:100%; background:#000; }
#pagefooter .btn-group button { border:0; width:100%; min-height:40px;  background:#000; border-radius:0; color:#fff; }
#pagefooter .btn-group button img { opacity:0.5; }
#pagefooter .btn-group button:hover img { opacity:1; }
#pagefooter .btn-group.open .dropdown-toggle, #pagefooter .open>.dropdown-toggle.btn-default:focus { -webkit-box-shadow:none; box-shadow: none; border-radius:0; }

#flat-slider-vertical-1.ui-widget-content { position:relative; background:url(../img/bar-color.png) no-repeat center top; background-size: cover; width:30px; height: 310px; margin: 0 auto; }
#flat-slider-vertical-1 .ui-widget-header { background:none; }
#flat-slider-vertical-1.ui-widget-content .ui-slider-handle { left: inherit; right: -9px; /*background: url(../img/moving-arrow.png) no-repeat right center; background-size: 84%;*/ background:#000; width: 35px; height:2px; margin:0; outline: none; border: 0; }

.background_img { background-image: url(../img/email-signup-bk.png); background-size: cover; min-height: 100%; min-height: 100vh; }
.login-container { position:absolute; width:200px; height:300px; background:#fff; padding:20px; margin: auto; top:0; bottom:0; left:0; right:0; border:1px solid #3b3a3a; border-radius:10px; }
.login-container .price-logo { width:100% }
.login-container .tagline { margin:15px 0; color: #000; font-size: 13px; padding: 5px 1px 0; text-align: center; font-weight: bold; letter-spacing: 1px; }
.login-container .login-text { margin:15px 0 0 0; text-align: center; font-size: 15px; font-weight: bold; color: #000; letter-spacing: 2px; }

/* new css */

#pagecontent .top-margin  {
 margin-top:15px;
}

#pagecontent .product-right-padding {
 padding-right:8px;
}
/*.modal { background: url(../img/icons/close.png) no-repeat 96% 80px; } */
.modal-backdrop.in { filter: alpha(opacity=80); opacity: .8;
}
.modal-content { padding: 20px; border-radius: 0; width:100%; }
.modal-dialog { width:90%; margin:0;  bottom: 40px; margin: auto; left: 50px; position: absolute; height: inherit; }
.modal-content-inner {  }
.carousel-indicators { position:static; width:100%; left:0; margin-left:0; margin:10px 0; }
.carousel-indicators li { background:#CECECE; width:10px; height:10px; border:2px solid #B1B1B1; }
.carousel-indicators .active { background:#000; width:12px; height:12px; border:2px solid #B1B1B1; }
.pro-popup-details { text-align: center; text-transform: uppercase; }
.pro-popup-details h3 { font-size:30px; margin-bottom:20px; }
.pro-popup-details p { font-size:20px; }
.pro-popup-details .price-style { font-size:40px; }
.pro-popup-details .price-style span { display:block; }
.pro-popup-details .buynow { display:inline-block; width:100%; }
.pro-popup-details .buynow a { display:inline-block; width:100%; background:#000; font-size:17px; color:#fff; text-decoration:none; border-radius: 8px; padding:8px 20px;}
.buy-button-amazon .bleft { float:left; }
.buy-button-amazon .bright { float:right; }
.popup-price  { font-size:14px !important; vertical-align:-7px !important;}

@media only screen and (max-width: 800px) {
#pagefooter .drop-up.favorite-filter { width: 280px; margin-left: -50%; }
.modal-dialog { width: 85%; }
.pro-popup-details h3 { font-size: 20px; line-height: 30px; }
.pro-popup-details p { font-size: 11px; line-height: 12px; float:left; }
.pro-popup-details .price-style { font-size:20px; line-height:30px; }
.popup-price  { font-size:14px !important; vertical-align:-7px !important;}
}

@media only screen and (max-width: 480px) {
	#pagefooter .drop-up.product-filter { overflow-y:scroll; }
	#pagefooter .drop-up.product-filter, #pagefooter .drop-up.favorite-filter, #pagefooter .drop-up.color-filter { height:280px; }
	#flat-slider-vertical-1.ui-widget-content { height: 240px; }
	#pagecontent .product-list .product-title h5 { font-size:15px; }
	#pagecontent .product-list .product-title .favorite img { width:70%; }
	.modal-dialog { left:20px; }
	.modal-content { width:280px; }
	.pro-popup-details .buynow a { font-size:16px; }
}
@media only screen and (max-width: 380px) {
	.modal-content { width:200px; }
	.pro-popup-details h3 { font-size: 16px; line-height: 25px; }
	.pro-popup-details p { font-size: 12px; line-height: 18px; }
	.pro-popup-details .price-style { font-size:18px; line-height:25px; }
	.discounted-price-in-pop-up { font-size:18px; }
	.modal-dialog { width: 75%; }
}
@media only screen and (max-width: 320px) {
	
}
/*@media only screen and (max-height: 1024px) {
	.modal-content { width:600px; }	
}
@media only screen and (max-height: 600px) {
	.modal-content { width:230px; }		
}
@media only screen and (max-height: 800px) {
	.modal-content { width:460px; }		
}
@media only screen and (max-height: 480px) {
	.modal-content { width:230px; }	
}*/

.modal-content  {
 margin-top:50px !important;
 }
 
 .product-detail-top-margin-in-popup  {
	  margin-top:20px; padding-left:0px; padding-right:0px;
	  color:#ababab;
	}
	
.retail-text-in-popup  {
	  font-size:12px; margin-left:5px;
	  margin-top:-10px;
	  font-family: 'Avenir Next Medium';
	 }
	 
.retail-price-in-popup   {
	   font-size:14px; text-decoration:line-through; margin-top:-12px;
	   font-family: 'Avenir Next Medium';
	}
	
.discounted-price-in-pop-up  {
	  color:#000; text-align:center; margin-top:-14px;
	  font-family: 'Avenir Next Bold';
	  font-weight:bold;
	  color:#000;
	 /* display: inline;
	  position: fixed;*/
	}
	
	.saved-text-in-popup  {
	font-size:12px; text-align:right;
	margin-top:-12px; margin-left:-6px;
	font-family: 'Avenir Next Medium';
	}

	.saved-amount-in-popup  {
	  font-size:14px; margin-top:-11px; text-align:right; margin-left:-7px;
	  font-family: 'Avenir Next Medium';
	}
	
.buy-button-amazon  {
	  margin-top:3px; margin-bottom:6px; 
	  color:#fff; background-color:#000; 
	  font-size:12px ; 
	  font-family: 'Avenir Next Medium';
	  padding: 7px 10px 8px 12px; border-radius:8px;
	  text-align:left;
	}
	
	.buy-button-amazon:hover {
	  color:#fff; 
	 }
	 
	.buy-button-amazon span  {
	  float:right;
	}

   .product-name-in-popup   {
	  color:#464646; font-size:18px; 
	  
	  margin-bottom:2px;
	  text-align:center;
	  font-family: 'Avenir Next Demibold';
	  
	}
	
	.pop-up-close-icon  {
	  float:right; margin-right:-42px; margin-top:37px;
	 }

#pagecontent .product-left-padding {
 padding-left:8px;
}

@media only screen and (max-height: 480px) {
	#pagefooter .drop-up.product-filter, #pagefooter .drop-up.favorite-filter, #pagefooter .drop-up.color-filter { height:310px; }
	#flat-slider-vertical-1.ui-widget-content { height: 250px; }
}

@media only screen and (min-height: 481px) and (max-height: 530px) {
	#pagefooter .drop-up.product-filter, #pagefooter .drop-up.favorite-filter, #pagefooter .drop-up.color-filter { height:325px; }
	#flat-slider-vertical-1.ui-widget-content { height: 265px; }
}

@media only screen and (min-height: 531px) and (max-height: 600px) {
	#pagefooter .drop-up.product-filter, #pagefooter .drop-up.favorite-filter, #pagefooter .drop-up.color-filter { height:370px; }
	#flat-slider-vertical-1.ui-widget-content { height: 310px; }
}

@media only screen and (min-height: 601px) and (max-height: 700px) {
	#pagefooter .drop-up.product-filter, #pagefooter .drop-up.favorite-filter, #pagefooter .drop-up.color-filter { height:425px; }
	#flat-slider-vertical-1.ui-widget-content { height: 365px; }
}

@media only screen and (min-height: 701px) and (max-height: 800px) {
	#pagefooter .drop-up.product-filter, #pagefooter .drop-up.favorite-filter, #pagefooter .drop-up.color-filter { height:490px; }
	#flat-slider-vertical-1.ui-widget-content { height: 430px; }
}